/* Lightbox Styles (some are needed)
----------------------------------*/
#ui-lightbox-wrapper {
	display: none;
	position: absolute;
	width: 20em;
	height: auto;
}
#ui-lightbox-image {
	height: 10em;
	margin: 1em 0 0 0;
	background: url(ajax-loader.gif) no-repeat center center;
}
#ui-lightbox-image img{
	display: none;
}