/* Slider Styles */
.js .prev.disabled,
.js .next.disabled {
	display: none;
}
.js .scrollable {
	/* this cannot be too large */
	width: 20000em;
	position: absolute;
}
.js .scrollable div {
	float:left;
}
/* Header Image Slide */
.js .tx-genericgallery-pi1 {
	position: relative;
	overflow: hidden;
	z-index: 1000;
}
.js .prev,
.js .next {
	position: absolute;
	top: 20px;
	width: 30px;
	height: 120px;
	z-index: 1100;
	cursor: pointer;
	background: white;
	opacity: .30; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=30); /* IE lt 8 */
	-ms-filter: "alpha(opacity=30)"; /* IE 8 */
	-khtml-opacity: .30; /* Safari 1.x */
	-moz-opacity: .30; /* FF lt 1.5, Netscape */
}
.js .prev {
	left: 0;
}
.js .next {
	right: 0;
}
.js .prev.disabled,
.js .next.disabled {
	display: none;
}