{namespace gg=TYPO3\GgExtbase\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<div class="img-polaroid">
		<figure>
			<f:image
				width="800m"
				height="800m"
				src="{item.image.uid}"
				alt="{item.image.alternative}"
				/>
		</figure>

		<figcaption>
			<strong>{item.title}</strong>
			<p>
				{item.image.properties.description}
			</p>
			<p class="small muted">
				<f:render partial="GalleryItem/Copyright" arguments="{_all}" />
			</p>
		</figcaption>

		<f:if condition="{item.textItems}">
			<div class="well">
				<f:for each="{item.textItems}" as="textItem">
					<p>
						{textItem.bodytext}
					</p>
				</f:for>
			</div>
		</f:if>

		<gg:link.typolink configuration="{parameter: item.link}">
			Download original image
		</gg:link.typolink>
	</div>

</f:section>