
<f:layout name="Default" />

<f:section name="main">

	<div class="row-fluid">
		<ul class="thumbnails">
			<f:for each="{collection}" as="item">
				<li class="span3">
					<figure class="thumbnail">
						<div class="img-polaroid">
							<f:render partial="GalleryItem/Image" arguments="{_all}" />
						</div>
						<f:if condition="{galleryType} == 'single'">
							<f:render partial="GalleryItem/Caption" arguments="{_all}" />
						</f:if>
					</figure>
				</li>
			</f:for>
		</ul>
	</div>

</f:section>